servers = (
  {
    address = "irc.slashnet.org";
    chatnet = "slashnet";
    port = "6667";
    autoconnect = "yes";
  },
  {
    address = "irc.libera.chat";
    chatnet = "libera";
    port = "6667";
    autoconnect = "no";
  },
  {
    address = "irc.lunarnet.org";
    chatnet = "lunarnet";
    port = "6667";
    autoconnect = "no";
  }
);

chatnets = {
  slashnet = { type = "IRC"; };
  libera = { type = "IRC"; };
  lunarnet = { type = "IRC"; };
};

channels = (
  { name = "#cats"; chatnet = "slashnet"; autojoin = "yes"; },
  { name = "#dogs"; chatnet = "slashnet"; autojoin = "yes"; },
);

aliases = {
  W = "window";
  Q = "query";
  T = "topic";
  C = "clear";
  CL = "clear";
  K = "kick";
  KB = "kickban";
  KN = "knockout";
  BANS = "ban";
  B = "ban";
  MUB = "unban *";
  SB = "scrollback";
  UMODE = "mode $N";
  WC = "window close";
  WN = "window new hide";
  SV = "say Irssi $J ($V) - http://irssi.org/";
  LL = "/lastlog";
  LC = "/lastlog -clear";
  GOTO = "sb goto";
  CHAT = "dcc chat";
  RUN = "SCRIPT LOAD";
  EXEMPTLIST = "mode $C +e";
  ATAG = "WINDOW SERVER";
  UNSET = "set -clear";
  RESET = "set -default";
  themereload = "SCRIPT EXEC Irssi::themes_reload();";
  tr = "SCRIPT EXEC Irssi::themes_reload();";
};

settings = {
  core = {
    real_name = "ghost_of_shmup";
    user_name = "ghost_of_shmup";
    nick = "ghost_of_shmup";
    recode_autodetect_utf8 = "yes";
    recode_fallback = "CP1252";
    log_create_mode = "644";
    timestamp_format = "";
  };
  perl = { scripts_autoload_dir = ""; };
  "fe-text" = { actlist_sort = "refnum"; };
  "fe-common/core" = {
    theme = "industrial";
    windows_auto_renumber = "no";
    autolog = "yes";
    autolog_path = "~/.irssi/logs/$tag/$0.log";
  };
  "perl/core/scripts" = { crawlwatchnicks = "shmup"; };
};

ignores = ( );

logs = { };

hilights = ( { text = "ghost_of_shmup"; nick = "yes"; word = "yes"; } );

windows = {
  1 = {
    items = (
      {
        type = "CHANNEL";
        chat_type = "IRC";
        name = "#dogs";
        tag = "slashnet";
      }
    );
  };
  2 = {
    items = (
      {
        type = "CHANNEL";
        chat_type = "IRC";
        name = "#cats";
        tag = "slashnet";
      }
    );
  };
  10 = { };
};
